*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    overflow:hidden;
    color:white;
}

/* Common page design */

.page{
    height:100vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    position:relative;
    background:linear-gradient(135deg,#8e2de2,#4a00e0);
}

 .bengali-text{
    font-family: 'Hind Siliguri', sans-serif;
}

/* Glass card */

.card{
    width:90%;
    max-width:700px;
    padding:40px;
    border-radius:25px;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(15px);
    box-shadow:0 10px 40px rgba(0,0,0,.3);
    animation:show 1.5s;
}


h1{
    font-size:55px;
    margin-bottom:20px;
}


p{
    font-size:22px;
    line-height:1.8;
}


/* Buttons */

.btn{

    display:inline-block;
    margin-top:35px;
    padding:15px 45px;

    background:#ff4081;
    color:white;

    border:none;
    border-radius:50px;

    font-size:20px;
    cursor:pointer;

    text-decoration:none;

    transition:.3s;
}


.btn:hover{
    transform:scale(1.1);
    background:#ff1744;
}


/* Balloons */

.balloon{

    position:absolute;

    width:70px;
    height:90px;

    border-radius:50%;

    bottom:-120px;

    animation:fly 10s infinite linear;

}


.balloon:after{

    content:"";

    position:absolute;

    width:2px;
    height:80px;

    background:white;

    left:50%;
    top:90px;

}



@keyframes fly{

    0%{
        transform:translateY(0);
    }

    100%{
        transform:translateY(-120vh);
    }

}



@keyframes show{

from{
    opacity:0;
    transform:scale(.5);
}

to{
    opacity:1;
    transform:scale(1);
}

}


/* Mobile */

@media(max-width:600px){

h1{
    font-size:38px;
}

p{
    font-size:18px;
}

.card{
    padding:25px;
}

}

